* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container {
    width: 100px;
    height: 390px;
    margin-top: 182px;
    padding-top: 2px;
    border: 0;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
header {
    margin-top: 16px;
    margin-bottom: 48px;
}
h1 {
    font-size: 64px;
    margin-bottom: 16px;
}
.main-content {
    flex-grow: 1;
}